#include <windows.h>
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDC_ICON_A         ICON           ".\\appicon.ico"

LANGUAGE LANG_NEUTRAL, LANG_NEUTRAL
1 VERSIONINFO
    FILEVERSION     APP_VERSION
    PRODUCTVERSION  APP_VERSION
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x0000003F
    FILEFLAGS       0x00000000
{
    BLOCK "StringFileInfo"
    {
        BLOCK "00000000"
        {
            VALUE "CompanyName", 		"rageworx.info"
            VALUE "FileDescription", 	"Huawei routers band tool for Windows 64."
            VALUE "InternalName", 		"Huawei band tool for Win64"
            VALUE "LegalCopyright", 	"Raphael Kim (rageworx@gmail.com)"
            VALUE "LegalTrademarks", 	"https://rageworx.info"
            VALUE "OriginalFilename", 	"huawei_band_tool.exe"
            VALUE "ProductName", 		"Huawei band tool for Win64"
            VALUE "ProductVersion",     APP_VERSION_STR
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0000, 0x0000
    }
}
