demos/encapsulate-lookup-api/FallbackConfiguration.cpp
demos/encapsulate-lookup-api/FallbackConfiguration.h
demos/simple-encapsulation/FallbackConfiguration.cpp
demos/simple-encapsulation/FallbackConfiguration.h
